h2 {
  font-weight: bold;
  text-align: center;
}

h3 {
  border-top: 1px solid #d3d3d3;
  font-weight: bold;
  color: rgb(39, 39, 39);
  padding-top: 12px;
}

h4 {
  color: rgb(53, 54, 54);
  margin-bottom: 4px;
}

.stats-type {
  color: grey;
}

.summary-container {
  margin-bottom: 12px;
}
