h2 {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

h3 {
  font-weight: bold;
  color: rgb(39, 39, 39);
}

h4 {
  color: rgb(53, 54, 54);
  margin-bottom: 4px;
  background-color: #bbb6ad;
  text-align: center;
  padding: 1px;
}

.stats-type {
  color: grey;
}

.summary-container {
  margin-bottom: 12px;
}
