@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;

  /* color-scheme: light dark; */
  color: #213547;
  background-color: rgb(224, 221, 221);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  min-width: 330px;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(116, 119, 119);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(157, 160, 159);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b;
}

@keyframes ldio-x2uulkbinbj {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.ldio-x2uulkbinbj div {
  position: absolute;
  animation: ldio-x2uulkbinbj 1s linear infinite;
  box-sizing: border-box !important;
}
.ldio-x2uulkbinbj div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: #f47e60;
}
.ldio-x2uulkbinbj div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid #f8b26a;
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0;
}
.ldio-x2uulkbinbj div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid #abbd81;
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0;
}
.loadingio-spinner-radio-nq4q5u6dq7r {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div {
  box-sizing: content-box;
}
/* [ldio] generated by https://loading.io */
